<!DOCTYPE html>
<html>
<head>
<title>Welcome to OSCM!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to OSCM!</h1>
<p>If you see this page, reverse proxy server is successfully installed and
working.</p>

<p>For further OSCM links visit:
<a href="${FQDN}/oscm-portal">oscm-portal</a>.<br/>
<a href="${FQDN}/oscm-rest-api">oscm-rest-api</a>.<br/>
<a href="${FQDN}/oscm-app">oscm-app</a>.<br/>
<a href="${FQDN}/oscm-app-vmware">oscm-app-vmware</a>.<br/>
<a href="${FQDN}/oscm-app-openstack">oscm-app-openstack</a>.<br/>
<a href="${FQDN}/birtl">birt</a>.<br/>
<a href="${FQDN}/mail">mail</a>.<br/></p>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>
