<!DOCTYPE html>
<html>
<head>
<title>Welcome to OSCM!</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to OSCM!</h1>
<p>If you see this page, OSCM has been completely installed and the server is running. Check-out the following links.</p>

<p> 
<a href ="https://github.com/servicecatalog/documentation#oscm-documentation"> Documentation </a>
<a href="/oscm-portal">oscm-portal</a>.<br/>
<a href="/oscm-rest-api">oscm-rest-api</a>.<br/>
<a href="/oscm-app">oscm-app</a>.<br/>
<a href="/oscm-app-vmware">oscm-app-vmware</a>.<br/>
<a href="/oscm-app-openstack">oscm-app-openstack</a>.<br/>
<a href="/oscm-app-azure">oscm-app-azure</a>.<br/>
<a href="/oscm-app-aws">oscm-app-aws</a>.<br/>
<a href="/birtl">birt</a>.<br/>
<a href="/mail">mail</a>.<br/></p>

</body>
</html>
