version: "3"
services:
  proxy:
    image: ${IMAGE_PROXY}
    container_name: proxy
    ports:
      - "80:80"
      - "443:443"
    - ${DOCKER_PATH}/config/oscm-proxy/ssl/privkey:/import/ssl/privkey
    - ${DOCKER_PATH}/config/oscm-proxy/ssl/cert:/import/ssl/cert
    - ${DOCKER_PATH}/config/oscm-proxy/ssl/chain:/import/ssl/chain
    env_file: var.env
