# Version: v18.0
#
# Docker images: If you wish to use a specific version tag or use your own
# registry, please adjust these.
#
IMAGE_DB=servicecatalog/oscm-db:latest
IMAGE_CORE=servicecatalog/oscm-core:latest
IMAGE_APP=servicecatalog/oscm-app:latest
IMAGE_BIRT=servicecatalog/oscm-birt:latest
IMAGE_BRANDING=servicecatalog/oscm-branding:latest
IMAGE_INITDB=servicecatalog/oscm-initdb:latest
IMAGE_PROXY=servicecatalog/oscm-proxy:latest
IMAGE_HELP=servicecatalog/oscm-help:latest

# Docker data directory: Adjust this if you are using a different base
# directory, please adjust this.
DOCKER_PATH=/docker

# HTTP Timeout for Docker Compose: Increase this if you get timeout errors
# during high load or network congestion. Default=60
COMPOSE_HTTP_TIMEOUT=600
