IMAGE_DB=oscm-db:latest
IMAGE_CORE=oscm-core:latest
IMAGE_APP=oscm-app:latest
IMAGE_BIRT=oscm-birt:latest
IMAGE_BRANDING=oscm-branding:latest
IMAGE_INITDB=oscm-initdb:latest
IMAGE_PROXY=oscm-proxy:latest

DB_VOLUME_DATA_SRC=${DOCKER_PATH}/data/oscm-db/data
BRANDING_VOLUME_BRANDINGS_SRC=${DOCKER_PATH}/config/oscm-branding/brandings

DOCKER_PATH=/docker
