IMAGE_DB=oscm-db:latest
IMAGE_CORE=oscm-core:latest
IMAGE_APP=oscm-app:latest
IMAGE_BIRT=oscm-birt:latest
IMAGE_BRANDING=oscm-branding:latest
IMAGE_INITDB=oscm-initdb:latest
IMAGE_PROXY=oscm-proxy:latest

DOCKER_PATH=/docker
