\set ON_ERROR_STOP
CREATE ROLE ${DB_USER_BES} LOGIN PASSWORD '${DB_PWD_BES}';
CREATE DATABASE ${DB_NAME_BES} WITH OWNER=${DB_USER_BES} TEMPLATE=template0 ENCODING='UTF8';
\c ${DB_NAME_BES}
CREATE SCHEMA ${DB_USER_BES};
GRANT ALL PRIVILEGES ON SCHEMA ${DB_USER_BES} TO ${DB_USER_BES};