\set ON_ERROR_STOP
CREATE ROLE ${DB_USER_CORE} LOGIN PASSWORD '${DB_PWD_CORE}';
CREATE DATABASE ${DB_NAME_CORE} WITH OWNER=${DB_USER_CORE} TEMPLATE=template0 ENCODING='UTF8';
\c ${DB_NAME_CORE}
CREATE SCHEMA ${DB_USER_CORE};
GRANT ALL PRIVILEGES ON SCHEMA ${DB_USER_CORE} TO ${DB_USER_CORE};