\set ON_ERROR_STOP
CREATE ROLE ${DB_USER_JMS} LOGIN PASSWORD '${DB_PWD_JMS}';
CREATE DATABASE ${DB_NAME_JMS} WITH OWNER=${DB_USER_JMS} TEMPLATE=template0 ENCODING='UTF8';
\c ${DB_NAME_JMS}
CREATE SCHEMA ${DB_USER_JMS};
GRANT ALL PRIVILEGES ON SCHEMA ${DB_USER_JMS} TO ${DB_USER_JMS};