\set ON_ERROR_STOP
CREATE ROLE ${DB_USER_APP} LOGIN PASSWORD '${DB_PWD_APP}';
CREATE DATABASE ${DB_NAME_APP} WITH OWNER=${DB_USER_APP} TEMPLATE=template0 ENCODING='UTF8';
\c ${DB_NAME_APP}
CREATE SCHEMA ${DB_USER_APP};
GRANT ALL PRIVILEGES ON SCHEMA ${DB_USER_APP} TO ${DB_USER_APP};