/*****************************************************************************
 *                                                                           *
 * Copyright FUJITSU LIMITED 2020                                            *
 *                                                                           *
 * Creation Date: 16-07-2020                                                 *
 *                                                                           *
 ****************************************************************************/

UPDATE ${DB_USER_CORE}.platformuser SET userid ='${CUSTOMER_USER_ID}', realmuserid='${CUSTOMER_USER_ID}' WHERE userId='customer@adfs.com';
